.topbar{
    display: flex;
}
.link{
    width: 200px;
    height: 50px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px #cccc;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
.link:not(:first-child){
   margin-left: 20px;
}
.link:hover{
    scale: 1.1;
    font-weight: bold;
    transition: scale .3s ease;
}